{{- /*
  {{< audience-badge type="fpna" >}}
  {{< audience-badge type="system-admin" >}}
  {{< audience-badge type="consultant" >}}
  Inline colored pill identifying the article's primary audience.
*/ -}}
{{- $type := .Get "type" | default "fpna" -}}
{{- $label := "FPnA" -}}
{{- if eq $type "system-admin" -}}
  {{- $label = "System Admin" -}}
{{- else if eq $type "consultant" -}}
  {{- $label = "Consultant" -}}
{{- else if eq $type "executive" -}}
  {{- $label = "Executive" -}}
{{- end -}}
<span class="oc-audience-badge oc-audience-badge--{{ $type }}" data-audience="{{ $type }}">{{ $label }}</span>
